name: Build Gradle project

on:
  push:

jobs:
  build-gradle-project:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout project sources
      uses: actions/checkout@v2
    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2
    - name: Run check with Gradle Wrapper
      run: cd Java_PHE && ./gradlew build && bash <(curl -s https://codecov.io/bash)
